body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 3px;
    background-color: white;
    color: #334;
}

.container{
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header{
    text-align:start;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
    
}
.header h1{
    margin: 0;
}
.section{
    margin-top: 20px;

}
.section h2{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #0056b3;

}
.section p, .section ul{
    margin: 10px 0;
    line-height: 1.6;
}
section ul{
    padding-left: 20px;
}
.section ul li{
    margin-bottom: 5px;
}

